* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v407_224 {
    width: 100%;
    height: 1024px;
    background: rgba(43,44,45,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_225 {
    width: 100%;
    height: 242px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_247 {
    width: 156px;
    height: 156px;
    background: rgba(126,126,126,1);
    opacity: 1;
    position: absolute;
    top: 164px;
    left: 642px;
    border-radius: 50%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
  }
  .v407_320 {
    width: 100%;
    height: 388px;
    background: rgba(129,145,148,1);
    opacity: 1;
    position: absolute;
    top: 539px;
    left: 84px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v407_322 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_322.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 733px;
    left: 117px;
    overflow: hidden;
  }
  .v407_323 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_323.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_324 {
    width: 134px;
    height: 3px;
    background: url("../images/v407_324.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 45px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v407_327 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_327.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v407_328 {
    width: 225px;
    height: 126px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_329 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_329.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_330 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_330.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 733px;
    left: 352px;
    overflow: hidden;
  }
  .v407_331 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_331.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_332 {
    width: 134px;
    height: 3px;
    background: url("../images/v407_332.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 45px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v407_335 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_335.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v407_336 {
    width: 225px;
    height: 126px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_337 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_337.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_338 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_338.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 733px;
    left: 587px;
    overflow: hidden;
  }
  .v407_339 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_339.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_340 {
    width: 134px;
    height: 3px;
    background: url("../images/v407_340.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 45px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v407_343 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_343.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v407_344 {
    width: 225px;
    height: 126px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_345 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_345.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_346 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_346.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 733px;
    left: 822px;
    overflow: hidden;
  }
  .v407_347 {
    width: 225px;
    height: 136px;
    background: url("../images/v407_347.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_348 {
    width: 134px;
    height: 3px;
    background: url("../images/v407_348.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 45px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .v407_351 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_351.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v407_352 {
    width: 225px;
    height: 126px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_353 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_353.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_354 {
    width: 225px;
    height: 133px;
    background: url("../images/v407_354.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 733px;
    left: 1057px;
    overflow: hidden;
  }
  .v407_355 {
    width: 225px;
    height: 133px;
    background: url("../images/v407_355.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v407_356 {
    width: 134px;
    height: 0px;
    background: url("../images/v407_356.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 133px;
    left: 45px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v407_358 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_358.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v407_359 {
    width: 225px;
    height: 126px;
    background: rgba(196,196,196,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_360 {
    width: 225px;
    height: 126px;
    background: url("../images/v407_360.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
  }
  .v407_321 {
    width: 170px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 573px;
    left: 136px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v407_361 {
    width: 327px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 320px;
    left: 556px;
    font-family: Noto Sans;
    font-weight: ExtraBold;
    font-size: 40px;
    opacity: 1;
    text-align: left;
  }
  .v407_363 {
    width: 145px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 383px;
    left: 647px;
    font-family: Noto Sans;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v427_49 {
    width: 133px;
    color: linear-gradient(rgba(158,38,146,1), rgba(250,169,88,1));
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  .v427_50 {
    width: 210px;
    height: 24px;
    background: url("../images/v427_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 186px;
    overflow: hidden;
  }
  .v427_51 {
    width: 57px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 0px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v427_52 {
    width: 92px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 57px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v427_53 {
    width: 60px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 150px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  .v427_54 {
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 1384px;
    overflow: hidden;
  }
  .v427_55 {
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
  }
  .v427_56 {
    width: 24px;
    height: 24px;
    background: url("../images/v427_56.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
  }
  .v427_57 {
    width: 18px;
    height: 20px;
    background: url("../images/v427_57.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    overflow: hidden;
  }
  .v427_58 {
    width: 18px;
    height: 20px;
    background: url("../images/v427_58.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v427_59 {
    width: 11px;
    height: 11px;
    background: url("../images/v427_59.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 3px;
    border: 1.5px solid rgba(255,255,255,1);
  }
  .v427_60 {
    width: 18px;
    height: 6px;
    background: url("../images/v427_60.png");
    opacity: 1;
    position: absolute;
    top: 13px;
    left: 0px;
    border: 1.5px solid rgba(255,255,255,1);
  }
  .name {
    color: #fff;
  }
  .v451_2 {
    width: 310px;
    height: 64px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 565px;
    left: 972px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v451_3 {
    width: 201px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 581px;
    left: 1042px;
    font-family: Poppins;
    font-weight: ExtraBold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v451_4 {
    width: 48px;
    height: 48px;
    background: url("../images/v451_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 572px;
    left: 984px;
    overflow: hidden;
  }
  