* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html, body{
    height: 100%;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

.logo img{
    z-index: 1;
    width: 84px;
    padding-left: 50px;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split.left .button:hover {
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
  }
  
  .split.right .button:hover {
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left:0;
    background: url(images/CSstudent.jpg) center center no-repeat;
    background-size: cover;
    background-color: black;
  }
  
  .split.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .split.right {
    right:0;
    background: url(images/Creator.jpg) center center no-repeat;
    background-size: cover;
  }
  
  .split.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  @media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
  }
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  }