*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    background: #181818;
    font-family: 'roboto', sans-serif;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

.logo img{
    z-index: 1;
    width: 137px;
    padding-left: 50px;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
}