*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #181818;
}

.wrapper{
    width: 1170px;
    margin: auto;
}

.logo img{
    z-index: 1;
    width: 137px;
    padding-left: 50px;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

.row__posters{
    width: 100%;
    object-fit: contain;
    max-height: 200px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px;
}

.row__posters:hover{
    transform: scale(1.08);
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}

.row{
    color: white;
    margin-left: 20px;
}